<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <!-- Szablon mocno bazowy, ale graficznie mozna go potem porozwijac :P-->
  <head>
    <title> {{ title }}  - PLNs Web Aplication</title>
    <meta http-equiv="content-type" 
	  content="text/html;charset=utf-8" />
    <style type="text/css" media="screen">
      @import url('style.css');
    </style>
  </head>
  
  <body>
    <div class="wrapper">
      <div class="header">
	<h1>{{ title }} - PLNs Project</h1> 
	<div class="info"> 
	  {% if is_logged_in %} Welcome! {% else %} Please sign in. {% endif %}
	</div>
      </div>
      
      <div class="menu">
	{{ navigation }}
      </div>
      
      <div class="content">
	{{ content }}
      </div>
      
      <div class="footer">
	PLNs project by <a target="_blank" href="http://www.asi.pwr.wroc.pl">ASI</a> - it's good for you! 
      </div>
      
    </div>
    
  </body>
</html>
