<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %} PLNs Project {% endblock %}</title>
  </head>
  
  <body>
    <div class="wrapper">
      <div class="header">
	<h1>{% block title %} PLNs Project{% endblock %}</h1> 
	<div class="info"> 
	  {% if view.request.user.is_authenticated %} Welcome! {% else %} Please sign in. {% endif %}
	</div>
      </div>
      
      <div class="menu">
	<ul>
	  <li> Menu entry 1</li>
	  <li> Menu entry 2</li>
	  <li> Menu entry 3</li>
	</ul>
      </div>
      
      <div class="content">
	{% block content %} {% endblock %}}
      </div>
      
      <div class="footer">
	PLNs project by <a target="_blank" href="http://www.asi.pwr.wroc.pl">ASI</a> - it's good for you! 
      </div>
      
    </div>
    
  </body>
</html>
